<script>var editFlyer = false;</script>
	<div id="promo">
		<div class="head">Don't worry. We're not cool yet.</div>
		<p>Flyer Zero is a clever way to share images with your real-world community. 
		Some of the coolest things shared so far have been invitations to underground parties, street art installations, and art gallery openings.
		Express the community you want.</p>
		<p align="center"><br />
				<a href="http://itunes.apple.com/us/app/flyer-zero/id541665284?mt=8"><img style="line-height:35px;" class="appstore" src="/assets/itunes_appstore.png" /></a>
				<a href="https://play.google.com/store/apps/details?id=com.flyerzero.mobile"><img class="appstore" src="/assets/google_appstore.png" /></a>
		</p>
		
	</div>
	
	<div id="submitSuggestion">
		You can also submit from the web here: 
		<div id="submitButton">Upload One Now</div>
	</div>
	<div id="temporalShift"><%=image_tag "current_background.png", :id=>"temporalImg"%></div>
	<div id="content"><h1 align="center"><br/>Loading images near you...<br /><br /><br /></h1></div>

