.flyers{
	text-align:center;
}

.event_container{
	clear: right;
	position: relative;
	margin:auto;
	width:800px;
	padding-top: 50px;
	padding-bottom:20px;

}
.left_side{
	width:200px;
	text-align:right;
	vertical-align:top;
}

.middle_side{
	vertical-align:top;
}

.date_head{
	background:#333;
	/*background: #31056e;*/
	color:#f7f7f7;
	font-size:2em;
	padding:7px;
	margin-right:20px;
	border-radius:3px;
}
.middle_side img{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	min-width:40px;
}

.right_side{
	text-align:left;
	width:200px;
	vertical-align:top;
}
.event_container ul{
	list-style-type: none;
	padding-left: 20px;
	margin: 0px;
}

.event_container ul li{
	width:200px;
	color:#555;	
	line-height: 20px;
	padding: 5px 10px;
	background: url("http://static.tumblr.com/xcxngn2/cX9ld1v64/li-border.png") repeat-x scroll right bottom transparent;

}
li.media{
	font-size:1.3em;
	font-weight: bold;
}
ul img{
	vertical-align:middle;
	opacity:0.5;
}

div .current_filter {
	font-size: 6em;
	color: #33CCFF;
	font-weight: 600;
	text-align: left;
	width: 850px;
	margin-left: auto;
	margin-right: auto;
}
