.dd_collection{
	position:absolute;
	width:400px;
	hight:500px;
	margin-top:38px;
	color:#777
}

div#add_panel {
	/*position: relative;*/
	width:450px;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
}

#add_panel .input_text {
	border:1px solid #ddd;
	padding:5px;
    /*font-size: 1.1em;*/
    margin-left: 20px;
    width: 350px;
    border-radius:5px;
}

#add_panel table{
	width: 100%;
}
#submission_page {
}

#submission_page h1 {
    font-size: 1.1em;
    margin-top: 15px;
    /*margin-bottom: 5px;*/
}

div#dragdrop_content {
}

div.drapdrop_area{
    text-align: center;
    border: 2px dashed #ddd;
    height:500px;
    width:400px;
    margin-top:10px;
    margin-left:10px;
}

div#dragdrop_content #no_preview{
	display: none;
	margin-top: 50px;
}
div#mini_dragdrop_area{
	height:195px;
	width:195px;
	text-align: center;
	line-height: 195px;
	border: 2px dashed #777777;
	font-size:0.8;
	float:left;
	margin:10px;
}

div#mini_dragdrop_area:hover{
	border: 2px dashed #ffffff;
	cursor:pointer;
}

input#image_upload{
   /*visibility: hidden;*/
}

div#dragdrop {
    width: 450px;
    height: 500px;
}
div#dragdrop_text {
	position: relative;
	top: 50%;
	width: 250px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -100px; /* half of height to center*/
	font-family: sans-serif;
}

.ui-autocomplete{
    background: #f9f9f9;
    width: 350px;
    height: 200px;
    list-style-type: none;
    overflow:auto;
    padding: 0px;
    border:1px solid #eee;
    box-shadow: 1px 1px 1px 1px #888;

}

.ui-menu-item{
    padding: 5px;
    border-bottom: 1px solid #cccccc;
    font-family: sans-serif;
}

.ui-menu-item:hover{
    background: #d4b6ff;
    cursor:pointer;
}

.venue_details{
    font-size: .9em;
    color: #444444;
    padding-left: 15px;
}

.venue_name{
    font-size: 1.1em;
    color: black;
}

.ui-datepicker-prev{
    float: left;
    background-image: url('/assets/prev.png');
    width: 16px;
    height: 16px;
}

.ui-datepicker-next{
    float: right;
    background-image: url('/assets/next.png');
    width: 16px;
    height: 16px;
}

.ui-datepicker-header{
    background: #f9e101;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ui-datepicker{
    background: #ffffff;
    border: 1px solid #777;
    border-radius: 5px;
}
.ui-datepicker-calendar{
	background-color:#ffffff !important;
}

.ui-datepicker-calendar th{
	background-color:#fefefe !important;
	color:#666 !important;
}
.ui-datepicker-title
{
    text-align: center;
    color: #000000;
    font-weight: 700;
}
.ui-datepicker-week-end{
	background-color: #f8f8f8 !important;
}
.ui-datepicker-today{
	border:1px solid #F9E101 !important;
}
.ui-state-default{
	color:#222 !important;
}

#message_content .textbox{
    font-size: 1.2em;
    text-align: center;
}
#message_content .waiting{
    position: relative;
    height: 70px;
    top: 40%;
    margin-top: -35px;
    font-size: 1.2em;
    text-align: center;
}
#message_content #action_buttons{
    height: 100px;
    font-size: 1.2em;
}

#message_content{
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    display: none;
}
#form_area{
   width:910px;
   margin:auto;
   background:white;
   border-radius:15px;
   padding:10px;

}

#form_content{
   
}
#response_container{
   display: none;
}


#venue_wait{
    display: none;
    width: 16px;
}
#add_panel #event_loc{
    background-image: url("/assets/search.png");
    background-repeat:no-repeat;
    padding-left: 25px;
    width: 328px;
}
#add_panel #search_wait{
	display: none;
	vertical-align: middle;
	margin-left: 10px;
}
#add_panel .offset{
    padding-left: 25px;
    padding-top: 10px;
}
#add_panel .foursquare_image{
    padding-left: 20px;
}

#venue_icon{
    float: left;
    display: none;
}

#venue_container{
    float: left;
    margin-left: 10px;

}

#venue_name{
    font-size: 1.1em;
    font-weight: 600;
}

.buttons {
	text-align:center;
    /*float: left;*/
    margin-left: 15px;
    display:inline-block;
}

.buttons input{
	border:1px solid #888;
	padding:5px;
	background:#e5e5e5;
	cursor:pointer;
	font-size:1.2em;
	margin: 5px;
}

.buttons input:hover{
	border:1px solid #999;
	background:#f5f5f5;
}

.error_text{
    color: #ff0000;
}

.error_bg {
   box-shadow: 0px 0px 2px 2px #ff0000;
}

#browse_button {
	padding:5px;
	font-size:1.2em;
	color: #000000;
	margin: 5px;
}
.normal_hack{
    border:1px solid #888;
	background:#e5e5e5;
}
.hover_hack{
	border:1px solid #999;
	background:#f5f5f5;
}
#browse_table{
    table-layout: fixed;
    width: 365px;
}
.fileinput-button {
	position: relative;
	overflow: hidden;
	float: left;
	margin-right: 4px;
	text-align:center;
	vertical-align: middle;
	margin-left: 15px;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 100px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}

#chosen_file {
    text-align: left;
    margin-top: 13px;
    width: 240px;
    overflow: hidden;
    font-size: 0.8em
}
.decision_box{
    border: 1px solid #999999;
    width: 230px;
    height: 260px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    color: #000000;
    font-size: .8em;
    padding: 10px;
    background:#e5e5e5;
    position: relative;
}

.decision_box h1{
    font-size: 1.2em;
    font-weight: 800;
    text-align:center;
}

.decision {
	position: absolute;
	bottom: 20px;
	margin-left: -65px;
	left: 50%;
}
.decision:hover{
	cursor:pointer;
	box-shadow: 0px 0px 2px 3px #147efc;
}

#fresh_event{
    border: 1px dashed #777777;
    width: 130px;
    height: 130px;
}
#clone_event {
    background-size: cover; 
    height:130px; 
    width:130px;
}
#fresh_event .flyer_text{
	text-align:center;
    width: 80px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: #777777;
}
.create_helper{
	margin:10px;
	font-size:0.8em;
}
.search_area{
    font-size: 0.75em;
    padding-left: 20px;
    height: 30px;
}
span#venue_search_location{
    color: #000000;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    background: #eeeeee;
}

span#venue_search_location:hover{
    cursor: pointer;
    background: #cccccc;
}

span#venue_search_location_edit{
    display: none;
}

div#submission_footer{
    margin-top: 50px;
    vertical-align: middle;
    color: #000000;
}

div#submit_help{
    display:none;
    position: absolute;
    left: 250px;
    top: 100px;
    z-index: 999;
}
.help_bubble{
    position: relative;
    width: 400px;
    border-radius: 10px;
    font-size: 0.95em;
    border: 2px solid black;
    background: #222222;
    color: #000000;
    padding: 0px;
    float: left;
}

/* create an arrow that points right */
.help_arrow {
  position: relative;
  width:0px;
  height:0px;
  border-bottom:15px solid transparent;  /* left arrow slant */
  border-top:15px solid transparent; /* right arrow slant */
  border-left:20px solid #222222; /* bottom, add background color here */
  font-size:0px;
  line-height:0px;
  left: -2px;
  top: 15px;
  float: left;
}

#help_icon{
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#222222));
    background: -moz-linear-gradient(top, #555555, #222222);
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#help_contents{
    background: #f9f9f9;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
    background: -moz-linear-gradient(top, #ffffff, #dddddd);
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#foursquare_search_error{
    color: #ff0000;
    display: none;
    font-size: 0.75em;
    padding-left: 20px;
}

div#flyer_error_box{
    position: absolute;
    width: 378px;
    height: 480px;
    top: 69px;
    border: 2px solid #ff0000;
    background: #bbbbbb;
    opacity:0.85;
    filter:alpha(opacity=85); /* For IE8 and earlier */
    border-radius: 5px;
    display: none;
    padding: 10px;
    left: 142px;
}
div#flyer_error_text{
    color:#000000;
    height: 50px;
    top:40%;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 10px;
    padding-left: 0px;
    text-indent:0px;
    font-size: 1.25em;
}