// Place all the styles related to the mobile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.mobile {

div#page {
}

div.content {
	background-image: url('/assets/transparent.png');
}

div#page div#map_canvas{
	width:100%;
	height:250px;
	position:relative;
	border:1px solid #888888;
	
}
div#page div#location{
	text-align:center;
	font-size:0.8em;
	
}

div.content div.textual{
	padding:10px;
}

div.content div.header{
	color:#dddddd;
	font-size:1.5em;
}

div.flyers img{
	padding:10px;
}


div#footer{
	font-size:0.8em;
	text-align:center;
}
div#footer strong{
	color:red;
}

div#controls {
	font-size: 1.1em;
	padding-top:20px;
	padding-bottom:20px;
	position:relative;
	z-index:100;
}

div#controls div#location {
}

div#controls div#location table{
	width:150px;
	margin:auto;
}

div#controls div.fzbutton:hover{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #eeeeee;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777', endColorstr='#454545'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#454545)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #777777,  #454545); /* for firefox 3.6+ */ 
}

div#controls div.fzbutton {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	cursor:pointer;
	color: #eeeeee;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb0000', endColorstr='#440000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#bb0000), to(#440000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #bb0000,  #440000); /* for firefox 3.6+ */ 
}
}
